<html>
<head>
    {% if title %}
    <title>{{ title }} - Kripto</title>
    {% else %}
    <title>Kripto</title>
    {% endif %}
</head>
<body>
    <div>
        Kripto:
        <a href="{{ url_for('index') }}">Home</a> |
        {% if current_user.is_anonymous %}
        <a href="{{ url_for('login') }}">Sign In</a>
        <a href="{{ url_for('register') }}">Sign Up</a>
        {% else %}
        <a href="{{ url_for('encrypt') }}">Encrypt</a>
        <a href="{{ url_for('inbox') }}">Inbox</a>
        <a href="#">Outbox</a> |
        <a href="{{ url_for('user', username=current_user.username) }}">Profile</a>
        <a href="{{ url_for('logout') }}">Logout</a>
        {% endif %}
    </div>
    <hr>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul>
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
    {% block content %}{% endblock %}
    {% block footer %}
    <div>
        <hr>
        <p>Kripto &copy; 2018 - <a href="{{ url_for('about') }}">Alvin Chandra</a></p>
    </div>
    {% endblock %}
</body>
</html>