{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% macro static_control(label, text) %}
    <div class="form-group">
            <label class="control-label  col-lg-5">{{ label }}</label>
            <div class=" col-lg-7">
                <p class="form-control-static">{{ text }}</p>
            </div>
    </div>
{% endmacro %}

{% block app_content %}
    <h1>Decrypt</h1>
    <hr>
    <div class="col-md-5">
        <form class="form-horizontal" action="" method="post" novalidate>
            {{ form.hidden_tag() }}
            {{ static_control('Filename', message.cipherfile.filename ) }}
            {{ static_control('Type', message.cipherfile.file_type ) }}
            {{ static_control('Length', message.cipherfile.file_length ) }}
            {# sender #}
            {{ static_control('Date', message.timestamp.strftime('%m-%d-%Y %H:%M:%S') ) }}
            {{ static_control('Comment', message.comment) }}
            {{ wtf.form_field(form.password, form_type="horizontal",horizontal_columns=('lg', 5, 7)) }}
            {{ wtf.form_field(form.submit, form_type="horizontal",horizontal_columns=('lg', 5, 7), button_map={"submit": "primary"}) }}
        </form>
    </div>
{% endblock %}