{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    <h1>Encrypt</h1>
    <hr>
    <div class="row">
        <div class="col-md-5">
            {{ wtf.quick_form(form, form_type="horizontal", horizontal_columns=('lg', 5, 7), button_map={"submit": "primary"}) }}
        </div>
    </div>
{% endblock %}

{% block custom_script %}
    var my_self = document.getElementById("my_self");
    my_self.onchange = function() {toggleRecipient()};

    function toggleRecipient() {
        var r = document.getElementById("recipient");
        if (my_self.checked) {
            r.value = "{{ current_user.id }}";
        } else {
            r.value = "0";
        }
    }
{% endblock %}