{% extends "base.html" %}

{% block app_content %}
    <h1>Inbox</h1>
    <hr>
    <table class="table table-hover">
        <tr>
            <td colspan="8" style="text-align:right;">{% include "includes/search_entry.html" %}</td>
        </tr>
        <tr>
            <th>No</th>
            <th>Filename</th>
            <th>Type</th>
            <th>Length</th>
            <th>Sender</th>
            <th>Date</th>
            <th colspan="2" style="text-align:center;">Action</th>
        </tr>
        {% for message in messages %}
        <tr>
            <td>{{ loop.index }}</td>
            <td>{{ message.cipherfile.filename }}</td>
            <td>{{ message.cipherfile.file_type }}</td>
            <td>{{ message.cipherfile.file_length }}</td>
            <td>
                <a href="{{ url_for('main.user', username=message.sender.username) }}">
                    {{ message.sender.username }}
                </a>
            </td>
            {# <td>{{ message.timestamp.strftime('%m-%d-%Y %H:%M:%S') }}</td> #}
            <td>{{ moment(message.timestamp).format('LLL') }}</td>
            <td style="text-align: center;">
                <a href="{{ url_for('main.delete_inbox', message_id=message.id) }}">
                    <button type="button" class="btn btn-danger">Delete</button>
                </a>
            </td>
            <td style="text-align: center;">
                <a href="{{ url_for('main.decrypt', message_id=message.id) }}">
                    <button type="button" class="btn btn-primary">Decrypt</button>
                </a>
            </td>
        </tr>
        {% endfor %}
    </table>
{% endblock %}