{% extends "base.html" %}

{% block app_content %}
<h1>Outbox</h1>
<hr>
<table class="table table-hover">
    <tr>
        <td colspan="2"></td>
        <td colspan="5" style="text-align:right;">{% include "includes/search_entry.html" %}</td>
    </tr>
    <tr>
        <th>No</th>
        <th>Filename</th>
        <th>Type</th>
        <th>Length</th>
        <th>Sender</th>
        <th>Date</th>
        <th>Action</th>
    </tr>
    {% for message in messages %}
    <tr>
        <td>{{ loop.index }}</td>
        <td>{{ message.cipherfile.filename }}</td>
        <td>{{ message.cipherfile.file_type }}</td>
        <td>{{ message.cipherfile.file_length }}</td>
        <td>
            <a href="{{ url_for('user', username=message.sender.username) }}">
                {{ message.sender.username }}
            </a>
        </td>
        <td>{{ message.timestamp.strftime('%m-%d-%Y %H:%M:%S') }}</td>
        <td>
            <a href="{{ url_for('delete_outbox', message_id=message.id) }}">
                <button type="button" class="btn btn-danger">Delete</button>
            </a>
        </td>
    </tr>
    {% endfor %}
</table>
{% endblock %}